video {
    position: relative; right: 0; bottom: 0;
    min-width: 50%; min-height: 50%;
    width:100%;
    z-index: -50;
    background:  no-repeat; 
    background-size: cover;
}
.background{
  background: #1324;
  color: #423
}
.hero {
    margin-top: -80px;
    background: url('/assets/homebg.jpeg') no-repeat center;
    background-size: cover;
    height: 75vh;
    /* height: 140% !important; */
    display: flex;
    align-content: center;
    overflow: auto !important;
}

.teamPics {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.teamCard {
  border: none !important;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  align-items: center;
  padding: 25px !important;
  background: transparent !important;
}

.team {
    margin: 3%; 
    margin-top: 2%;
}

.teamHeader {
    margin-top: 3%;
}

.features {
    /* height: 50vh; */
    height: 100%;
}

.aboutFooter {
    background: rgb(40, 40, 41);
    height: 20vh;
}

.aboutIcons {
    height: 100px !important;
    width: 100px !important;
}

.features > .card-deck > .card {
    align-items: center;
    margin: 25px;
    padding: 25px !important;
    border: none;
    width: 18vw !important;
    background-color: transparent;
}

.introduction {
    height: 40vh;
    background-color: rgb(220, 220, 220);
}



/* progress {
  position: fixed;
  left: 0;
  top: 62px;
  z-index: 1000;
  width: 100%;
  height: .25em;
  appearance: none;
  color: black !important;
} */

progress::-webkit-progress-bar {
  background-color: transparent;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
  max-width: 100vw !important;
}

.progress-bar {
  background-color: white !important;
  width: 50%;
  display: block;
  height: inherit;
  max-width: 100vw !important;
}

#progressBar {
    position: fixed;
    left: 0;
    top: 62px;
    z-index: 1000;
    width: 100%;
    height: .25em;
    opacity: 0.9;
    border: none !important;
    outline: none !important;
    appearance: none;
    /* color: black !important; */
    max-width: 100vw !important;
}

progress::-webkit-progress-value {
    background:transparent;
    max-width: 100vw !important;

  }
  
  progress::-webkit-progress-value {
    background: rgb(41, 41, 41);
    max-width: 100vw !important;
  }
  
  progress::-webkit-progress-bar {
    background: transparent;
    max-width: 100vw !important;

  }
.features {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
/* .gameModes {
    height: 1000px;
} */
  .tab-pane {
      /* height: 100%; */
      width: 70vw;
      border-radius: 15px;
      /* border: 1px solid black; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      margin: 25px;
      margin-bottom: 60px;
      padding: 25px;
  }

  .pills {
      width: 200px;
  }

.disruptionsHome {
    height: 800px;
}
 
.disPrevHeader {
    margin: 0;
}
#homeDisruptions {
    display: flex;
    justify-content: center;
}
#v-pills-tab > a {
    width: 120px;
    margin: 5px;
    text-align: left;
    border-radius: 15px;
    color: white;
    background-color: rgb(128, 128, 128);
}

#v-pills-tab > a:hover {
    color: rgb(65, 65, 65);
    background-color: rgb(35, 35, 46);
}

#v-pills-tab > a.active {
    color: black;
    background-color: rgb(255, 255, 255);
}

.vertPane {
    width: 70vw;
    border-radius: 15px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin: 25px;
    padding: 25px;
}

.disruptionsPane {
    margin-top: 20%;
    height: 300px;
}

.nav-pills .nav-link {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.classicSnaps{
    background: url('/assets/ClassicSS.png');
    background-size: cover;
    height: 500px;
    width: auto;
}

.pairSnaps{
    background: url('/assets/ClassicSS.png');
    background-size: cover;
    height: 500px;
    width: auto;
}
.codeRunSnaps{
    background: url('/assets/ClassicSS.png');
    background-size: cover;
    height: 500px;
    width: auto;
}
.soloSnaps{
    background: url('/assets/SoloSS.png');
    background-size: cover;
    height: 500px;
    width: auto;
}