.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile-image {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: inline;
  align: right;
}

.profile-photo {
  position: relative;
  border-radius: 50px;
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  display: inline-block;
  align: right;
}