@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 7px 0px 10px 0px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.navbar {
  border-radius: 0px !important;
}

.navbar-brand {
  transition: border-bottom 1s ease,
              border-top 1s ease;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}

.navbar-brand:hover {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.nav-item {
  margin-left: 10px; 
  margin-right: 10px;
}

.nav-item:hover {
  cursor: pointer;
}