.board {
  text-align: center;
  width: 100%;
}

.bdrow {
  width: 100%;
}

.bdblock {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 1.5px 0px 0px 1.5px;  /*TOP RIGHT BOTTOM LEFT*/
  width: 100px;
  /* padding-top: 2%; */
  height: 100px;
}

.brown {
  background-color: #eadabc;
}
.dbrown {
  background-color: #bf9053;
}

/* .treasure {
  background: url('/assets/treasure.jpg');
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
} */
.whirlpool {
  background: url('/assets/whirlpool.gif');
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.goblin {
  background-image: url('/assets/Goblin.png')
}

.lastblock {
  border-width: 1.5px 1.5px 0px 1.5px;
}

.lastrow {
  border-width: 1.5px 0px 1.5px 1.5px;
}

.lastrowblock {
  border-width: 1.5px 1.5px 1.5px 1.5px;
}

.bottomend {
  margin-bottom: 200px;
}

.dice {
  margin: 20px 5px 10px 5px;
  display: inline-block;
}

.moveButton {
  font-size: 20px !important;
  background-color: rgb(63, 63, 70);
  color: white;
  border: 3px solid rgb(233, 233, 233) !important;
  border-radius: 10px !important;
}

.diceButton {
  font-size: 20px !important;
  background-color: rgb(63, 63, 70);
  color: white;
  border: 3px solid rgb(233, 233, 233) !important;
  border-radius: 10px !important;
  padding: 20px !important;
}

.diceButton:hover, .moveButton:hover {
  transition: border 1s ease,
              color 1s ease;
  border: 3px solid #b24411 !important;
  color: #b24411 !important
}

.inline {
  display: inline-block;
  margin: 0px 22px 0px 22px;
}

.but {
  width: 100px;
}

.up {
  margin-bottom: 5px;
}

.down {
  margin-top: 5px;
}

.validMove:hover {
  background: rgb(132, 190, 132);
}

.attackButton {
  font-size: 20px !important;
  background-color: rgb(69, 177, 110);
  color: white;
  border: 3px solid rgb(233, 233, 233) !important;
  border-radius: 10px !important;
  padding: 10px 15px 10px 15px !important;
}

.attackButton:hover {
  transition: border 1s ease,
              color 1s ease;
  border: 3px solid #1184b2 !important;
  color: #1184b2 !important
}

.boardSystem {
  width: 60%;
  display: inline-block;
}
/* .analog {
  border-radius: 10px;
	width: 20px;
  height: 20px; 
  color: red;
} */