.driver-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.partner-message {
  font-size: 20px;
  font-family: Courier New, Courier, monospace;
  padding: 20px;
  margin: 5px;
  float: right;
  width: 49vw;
  height: 130vh;
  background: beige;
  position: absolute;
  left: 50vw;
}