body{
    margin :0 auto;
 

}
.container{
width:  500px;
height: 500px;
text-align: center;
background-color:  #34495e;

/* margin: 0 auto;  */
border-radius: 4px;
/* margin: 0 auto; */
margin-top: 150 px;
}

.header{
    color: White;   
}

input{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 30px;

}
.form-input::before{
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-top: 35px;
}
.form-input:last-child::before{
content: "/f023";

}

.btn-login{
    width: 200px;
    height: 35px;
    /* padding: 15px 30px; */
    cursor: pointer;
    color: #fff;
    border-radius: 15px;
    border: none;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    margin-bottom: 0px !important;
}

.h3 {
 margin-top: 0 !important;
}
.signUpForm {
    /* height: 50vh !important; */
    background-color: rgba(0, 0, 0, 0.208);
    width: 25vw !important;
    padding: 25px;
    /* padding-top: 45px; */
    /* margin-top: 5% !important; */
    margin: 0 !important;
    top: 25px !important;
    margin-left: 14% !important;
    margin-top: 19% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.facebookLogin {
    color: white;
    background-color: rgb(57, 88, 151);
    border-radius: 15px !important;
    width: 200px !important;
}
.fbLogo, .googleLogo{
    height: 20px !important;
    width: 20px !important;
    margin-right: 5px;
}
.fbLogo {
    padding-bottom: 3px;
}
.googleLogin {
    color: white;
    background-color: rgb(201, 201, 201);
    border-radius: 15px !important;
    width: 200px !important;
}
.loginButton {
    color: white;
    background-color: rgb(187, 58, 58);
    border-radius: 15px !important;
    width: 200px !important; 

    border-bottom: 4px solid rgb(180, 41, 41) !important;
}
.signUpButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signUpButtons > * {
    margin: 10px;
}

.errorMsg {
    position: absolute;
    top: 195px;
    left: 65px;
    color: rgb(255, 231, 231);
    stroke: black .3px solid;
}