.legend {
  margin-top: 10px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  overflow: scroll;
}

.legendHeader {
  color:white;
  background: black;
  width: 130px;
  margin-bottom: 10px;
}