.legend {
  margin-top: 10px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  overflow: scroll;
}

.legendHeader {
  color:white;
  background: black;
  width: 130px;
  margin-bottom: 10px;
}

.sunburst {
  float:right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statsHeader {
  margin: 0 !important;
  padding-bottom: 20px

}

.statsDiv {
  width: 37vw;
  padding: 20px;
  height: 450px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
}

.percentage {
  margin-top: 10px;
}