#testSuite {
  padding: 35px;
  margin: 5px;
  float: right;
  width: 49vw;
  height: 130vh;
  background: beige;
  position: absolute;
  left: 50vw;
}

.problemTitle {
  padding-top: 0px;
  padding-bottom: 5px;
  margin: 0px;
  border-bottom:1px solid black;
}

#description {
  padding: 5px 5px;
  line-height: 150%;
}
.testDescriptions {
  font-size: 16px;
}
.testTitle {
  border-top: 1px solid black;
  padding-top: 5px;
}

.failure {
  color: red;
  padding-right: 10px;
  padding-left: 4px;
}

.success {
  color: green;
  padding-right: 10px;
}

/* span {
  padding: 5px;
} */
.testHolder {
  overflow: scroll;
  height: 550px;
}

.testHolder > div {
  display: flex;
  margin-bottom: 7px;
  margin-top: 7px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.xmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #d3482c;
  fill: none;
  animation: xstroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.xmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #d3482c;
  animation: xfill .4s ease-in-out .4s forwards, xscale .3s ease-in-out .9s both;
}

.xmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: xstroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes xstroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes xscale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes xfill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #d3482c;
  }
}